<div class="row">
    <div class= "offset-md-2 col-md-8">
        <h1 align="center"> Edit your account </h1>
        <%= render "shared/errors", obj: @user %>
        <br />
        <%= render "user_form" %>
    </div>
</div>