<% if obj.errors.any? %>
    <div class="row">
        <div class="offset-md-2 col-md-10">
            <div class="card bg-light text-danger">
                <div class="card-body">
                    <div class="card-title">
                        <%= pluralize(obj.errors.count, "error") %> prevented this article from saving
                    </div>
                    <ul>
                        <% obj.errors.full_messages.each do |msg| %>
                            <li><%= msg %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
<% end %>