@import "bootstrap";
@import "font-awesome";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-weight: 300;
}

#logo:hover {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 0px;
}

.center {
    text-align: center;
}

.my-4 hr {
    color: white;
}

.controls {
    opacity: 0;
}

tr:hover .controls {
    opacity: 1;
}

.controls:hover {
    border-radius: 50% !important;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer p {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 45px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.article-title {
    font-size: 1.5em;
    font-weight: 300;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.article-base {
    padding: 10px;
    border-top: 2px solid #eaeaea;
    margin-top: 20px;
}

.article-meta-details {
    float: left;
}

.article-meta-details small {
    font-size: 15px;
}

.article-actions {
    float: right;
}

.description {
    margin-top: 4px;
    padding-bottom: 6px;
    border-bottom: 2px solid #eaeaea;
}