@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-weight: 300;
}

#logo:hover {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 0px;
}

.center {
    text-align: center;
}

hr .my-4 {
    color: white;
}

.controls {
    opacity: 0;
}

tr:hover .controls {
    opacity: 1;
}

.controls:hover {
    border-radius: 50% !important;
}